
<div class="first-section">
    <%- include("partials/header"); -%>
    <div class="row" id="registration-part">
        <div class="col-lg-6" id="left-part-register">
        <h2>To raise Your Voices...</h2>
        <h2>To Get Your Rights...</h2>
        <h2>To Be a Member of this Family...</h2>
        <div class="register-btn">
         <a href="/register" style="margin-right: 1rem;"> <button type="button" class="btn btn-success btn-lg">Register</button></a>
         <a href="/login"> <button type="button" class="btn btn-success btn-lg">Login</button></a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="/images/Designer _Flatline.svg" alt="iitism">
      </div>
    </div>

</div>

<!-- academic section  -->
<div class="academicinfo-section">
    <h2>ACDEMIC INFORMATION</h2>
      <!-- <div class="row"> -->
       
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/iitism.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">IIT(ISM) DHANBAD</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text">Indian Institute of Technology (Indian School of Mines) Dhanbad is a public technical and research university located in Dhanbad, India. It has 18 academic departments covering Engineering, Applied Sciences, Humanities and Social Sciences and Management programs.</p>
              <p>DIRECTOR : Prof. Rajeev Shekhar</p> 
            
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-223-5201 </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i> director@iitism.ac.in </p> 
              <a href="https://www.iitism.ac.in" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/books-1245690_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">ACADEMICS</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text"> Indian Institute of Technology (Indian School of Mines) Dhanbad is a public technical and research university located in Dhanbad, India. It has 18 academic departments covering Engineering, Applied Sciences, Humanities and Social Sciences and Management programs.</p> 
            <p>HEAD : Prof. xxxxx</p>
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxx </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i> iitismacademics27@gmail.com </p> 
              <a href="https://www.iitism.ac.in/~academics/#course" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/sports3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">SPORTS</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text">The Sports Authority is responsible for Physical Conditioning and day to day organisation of different activities related to sports & Yoga, Preparation of Team for competition, Activities related to wellness of campus children & others related to Sports and fitness training, Facilitate quality of equipment and fields/courts and Organisation of Intramural competitions including Annual Sports Meet, Inter Hostel General Championship & others.</p> 
            <P>HEAD : Prof. xxxxx</P>
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxxx</p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i>iitismsports15@gmail.com </p> 
              <a href="https://www.iitism.ac.in/~dsw/spec/facilities.html" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/books-1204029_1920.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">LIBRARY</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text"> The Central Library of IIT(ISM) Dhanbad is the heart of the institute providing direct academic and research supports to all departments. It is an automated library in terms of records organisation and management of all its different sections, search and discovery, information retrieval and service delivery. The whole library operations run on LIBSYS integrated library management software. Over the years library has developed several databases of books, journals, conference proceedings, etc.
              </p>
              <p>HEAD : Prof. xxxxx</p>  
            
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxxx </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i>  iitismlibrary15@gmail.com </p> 
              <a href="https://library.iitism.ac.in/" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/jasper.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">HOSTEL</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text">  The Hostels of IIT (ISM) Dhanbad have all the facilities of a world-class academic institute. Each hostel has its own history and unique facilities, but all of them have the basics i.e. a mess, a canteen, a juice center, a stationary shop, a TV room, an indoor sports room, and laundry facilities. There are 7 boys’ and 4 girls’ hostels. The hostels are considered to be its gems and are henceforth named on precious stones as Opal, Topaz, Sapphire, Diamond, Amber etc.
              </p>
              <p>HEAD : Prof. xxxxx</p>  
            
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxxx </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i>  iitismhostel15@gmail.com </p> 
              <a href="https://www.iitism.ac.in/index.php/pages/hostel" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/mess hostel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">MESS</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text">  The Mess in IIT (ISM) Hostels on the campus consists of kitchen and dining hall. It is responsible for delivering timely food and eatables to the stdents and staffs of IIT(ISM) Dhanbad. Each hostel has its own mess. The authority follows a fixed schedule for food items on diferent days of the week.
              </p>
              <p>HEAD : Prof. xxxxx</p>  
            
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxxx </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i>  iitismmess15@gmail.com </p> 
              <a href="https://www.iitism.ac.in/" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/cultral.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">CULTRAL</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text">  The institute hosts many fests including Srijan - The cultural fest of IIT (ISM), Concetto - The Tech-fest, Parakram - Games and sports fest, Basant - The alumni re-union, and Pratibimb - The inter departmental cultural fest. Apart from these the institute also hosts inter-house sports and cultural competitions and technical fests of various departments.
              </p>
              <p>HEAD : Prof. xxxxx</p>  
            
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxxx </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i>  iitismcultral15@gmail.com </p> 
              <a href="https://www.iitism.ac.in/" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  "  id="academicinfo-card">
            <img src="/images/hack.jpg" class="card-img-top" alt="...">
            <div class="card-body">
      
              <h5 class="card-title">TECHNICAL</h5>
              <P class="card-subtitle">IIT(ISM) DHANBAD</P><hr>
              <p class="card-text">   The institute hosts many technological fests including Concetto - The Tech-fest, Basant - The alumni re-union, and Hackfest - the Tech fest Apart from these the institute also hosts inter-house sports and cultural competitions and technical fests of various departments.
              </p>
              <p>HEAD : Prof. xxxxx</p>  
            
           <p><i style="margin-right: 1rem;"  class="fas fa-phone-alt"></i> +91-326-xxx-xxxx </p> 
           <p><i style="margin-right: 1rem;" class="fas fa-envelope"></i>  iitismmess15@gmail.com </p> 
              <a href="https://www.iitism.ac.in/" class="btn btn-primary">Know More </a>
            </div>
          </div>
        </div>
        
      <!-- </div> -->
    
    </div>
    
    
    <!-- about us section  -->
    <div class="about-us-section">
      <div class="container">
        <h2>ABOUT US</h2>
        <hr>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui cupiditate fugiat blanditiis cum at ea aperiam dicta vero corrupti, labore praesentium ab velit libero itaque possimus rerum sit? In.
      </div>
    <div class="author-section">
      <img src="/images/Mejar.jpg" alt="Author">
      <p>Author: Mejar Kumar</p>
    </div>
    
    
    
      </div>
    
    
    </div>
    
    <%- include('partials/footer'); -%>