<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

  <%- include("partials/header"); -%>
    <div class="container" style="margin-top: 10rem;">
      <div class="card">
        <img id="avatar" src="../images//avatardefault_92824 (1).png" alt="Avatar" style="width:30%">
        <div class="container" style="display: flex;
         position: relative;
         top: -3rem;">
          <h4><b>Login Page</b></h4>
          <form action="/login" method="POST">
            <div class="form-floating mb-3" style="width: 22rem;">
              <input name="userName" type="email" class="form-control" id="floatingInput"
                placeholder="name@example.com">
              <label id="inputlabel" for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3" style="width: 22rem;">
              <input name="password" type="password" class="form-control" id="floatingInput" placeholder="Password">
              <label id="inputlabel" for="floatingPassword">Password</label>
            </div>
            <div class="footersection">
              <button style="margin-right: 12rem;" type="submit" class="btn btn-success">LOGIN</button>
              <a href="/register" style="text-decoration: none;">Create a user</a>
            </div>
          </form>
        </div>
      </div>
      <%- include("partials/footer"); -%>
</body>

</html>