<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petition list</title>
    <link rel="stylesheet" href="/css/petitionlist.css">
</head>
<body>
    <div class="full-screen">
        <%- include("partials/header"); -%>

        <div class="container">
            <h1 id="petitionlist-header">Petition List</h1><hr>
        </div>
        <div class="container">


            
        </div>
    </div>


</body>
</html>