.full-screen {
    background-image: linear-gradient(
150deg
, #061924 0%, #3e750a 100%);
    display: block;
    height: fit-content;
    padding-bottom: 3rem;
}

#petitionlist-header{
    color: palegreen;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    width: 40rem;
    
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    color: ghostwhite;
}
.card:hover{
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}